<!-- upper part -->
<div class="container shadow border rounded p-5">
  <h2 class="font-bold text-center text-[40px]"> {{title}} </h2>
  
  <div class="border p-3 ">
  <div class="flex items-center gap-2">
    <label for="" class="font-bold">Title:</label>
    <input [(ngModel)]="newTitle" class="form-control" type="text" placeholder=" Title" >
  </div>
  <div class="flex gap-2 items-center my-2 ">
    <label class="font-bold" for="">Description:</label>
    <input [(ngModel)]="newDescription" class="form-control border "  type="text" placeholder=" Description" >
  </div>
  
  <button (click)="addTodo()" class="btn btn-dark w-100" >Submit</button>
  
  </div>

  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-mdb-ripple-init>Save changes</button>
      </div>
    </div>
  </div>
</div>
  
  </div>

  

  <!-- result part -->

    <table class="table">
      <thead>
        <tr>
          <th scope="col"> S/N </th>
          <th scope="col">Todos</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let todo of todos; let i= index">

        <tr class="table-dark">
          <th scope="row">{{i+1}}</th>
          <td>{{todo.title}}</td>
          <td>{{todo.description}}</td>

          <td>   <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal">
              Edit
            </button>

            <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Edit form </h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-mdb-ripple-init>Save changes</button>
      </div>
    </div>
  </div>
</div>
                    
                    <!-- button to delete -->
                    
                    <button class="btn btn-danger" (click)="deleteTodo(i)" >Delete</button>
                 </td>
        </tr>
      </tbody>
    </table>
